<main>
    <div class="image">
        <img src="../../../assets/photos/marvin-meyer-SYTO3xs06fU-unsplash.jpg" width="1450px" height="800px">
        <div class="dimmer"></div>
    </div>
    <div class="title">
        <h1> Organize your projects </h1>
    </div>
    <mat-divider></mat-divider>
    <div class="buttons">
        <button class="signUp" mat-raised-button color="primary" routerLink="/register">Sign Up</button>
        <button class="signIn" mat-raised-button color="accent" routerLink="/login">Sign In</button>
    </div>
</main>
